JWT_SECRET=""

DATABASE_URL=""

ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""

APP_GMAIL_PASSWORD=""
APP_GMAIL_EMAIL=""

VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""

EXPO_ACCESS_TOKEN=""
SCHOOL_EMAIL_ADDRESS=""
FRONTEND_APP_URL=""
LOCALHOST_APP_URL=""
