ANTHROPIC_API_KEY=

SCHOOL_EMAIL_ADDRESS=

SMTP_PASSWORD=
SMTP_EMAIL=

EXPO_ACCESS_TOKEN=

APP_URL=

DATABASE_URL="host=localhost user=postgres password=postgres dbname=queyk sslmode=disable"
GOOSE_DBSTRING="host=localhost user=postgres password=postgres dbname=queyk sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./internal/adapters/postgresql/migrations
